
header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    padding: 20px 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(61, 26, 60) 64%, rgba(41,55,57,0.9444152661064426) 92%);
    font-family: 'Comfortaa', cursive; 
}
.slider{
    flex: 1;
    overflow: hidden;  
}
.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}
.slider--controls{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control{
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.caixa{
    width: 940px;
    margin: 0 auto;
    position: relative;
}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
nav {
    position: absolute ;
    right: 0;
    top: 45px;
    margin: 0 auto;
    width: auto;
}
nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 1px solid black; 
    border-radius: 5px;
    padding: 10px;
    transition: 1s all;
}
nav a:hover{
    border: 1px solid white;
    border-radius: 30px;
}
nav li {
    display: inline;
    margin-left: 25px; 
}
.corpo{
    width: 940px;
    margin: 0 auto;
}
.texto-principal{
    text-align: center;
    font-size: 2em;
    font-style: oblique;
    text-decoration: overline;
    text-decoration-color: rgb(58, 10, 52);
    margin-top: 50px;
    margin-bottom: 30px;
}

section p {
    font-size: 25px;
    text-align: justify;
}

section strong {
    font-weight: bold;
    color: blueviolet;
}

.novidades li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 400px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #000000;
}
.novidades h3 {
    font-size: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(61, 26, 60) 64%, rgba(41,55,57,0.9444152661064426) 92%);
    color: white;
    padding: 1em 0;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 30px;
    margin: 0 0 15px 0;
    transition: 1s all;
}
.novidades h3:hover {
    background: rgb(169,34,195);
    background: linear-gradient(0deg, rgba(169,34,195,1) 0%, rgba(154,36,131,0.9023984593837535) 40%);
    transform: scale(1.1);
}
#redessociais {
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
}
.imgnov {
    width:250px;
    height:300px;
    position: absolute;
    left: -3px;
    border: 0.5px solid #000000;
    border-radius: 15px;
}


.flip-card {
    background-color: transparent;
    width: 250px;;
    height: 300px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }
  .produtos-pronta-entrega ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      gap: 20px;   
  }

.prod-entrega{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transition: 0.2s all;
}

.texto-prod{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 75px;
    opacity: 0;
}

.texto{
    text-align: center;
    position: relative;
    bottom: 65px;
    opacity: 0;
}
.prod-entrega:first-child:hover, .prod-entrega:nth-child(2):hover,.prod-entrega:nth-child(3):hover,.prod-entrega:nth-child(4):hover,.prod-entrega:nth-child(5):hover,.prod-entrega:nth-child(6):hover{
    height: 400px;
    width: 400px;
}
.socials{
    height: 100px;
    width: 100px;
    margin-left: 150px;
    margin-top: 20px;
}
.social-central {
    width: 940px;
    margin: 0 auto;
    padding: 100px;
}

.instaPost{
    width: 560px;
	margin: 2em auto;
}

footer{
      position: fixed;
      text-align: center;
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(61, 26, 60) 64%, rgba(41,55,57,0.9444152661064426) 92%);
      padding: 30px;
  }
  footer img {
      margin-bottom: 15px;
  }
  footer p {
      color: white;
      font-size: 13px;
      margin-bottom: 5px;
  }

footer p a {
    text-decoration: underline;
    color: white;
}